<div style="background-color: #FAFAFA" class="wizard-container">
  <div class="wizard-header">
    <h2>Add Doctor</h2>
  </div>
  <div class="progress-wrapper">
    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="progressPercentage()">
      </div>
    </div>
  </div>
  <div class="step-indicators">
    @for (step of steps; track $index) {
      <div
        class="step"
        [class.active]="currentStep() >= $index"
        [class.current]="currentStep() === $index">

        <div class="circle">
          @if (currentStep() > $index) {
            <span>✓</span>
          }
          @if (currentStep() <= $index) {
            <span>{{$index+1}}</span>
          }

        </div>

        <span class="label">{{step}}</span>
      </div>
    }

  </div>
  <div class="form-card">
    <form [formGroup]="createDoctorForm">
      @if (currentStep() === 0) {
        <div formGroupName="personalInfo" class="fade-in">
          <input formControlName="firstName" placeholder="First Name">
          <input formControlName="lastName" placeholder="Last Name">
          <input formControlName="email" placeholder="Email">
          <input formControlName="phone" placeholder="Phone">
          <input  type="file"
                  accept="image/*"
                  (change)="onPictureChange($event)">
        </div>
      }
      @if (currentStep() === 1) {
        <div formGroupName="professionalInfo" class="fade-in">
          <input formControlName="bio" placeholder="About Doctor">
          <mat-form-field >

            <mat-select placeholder="Specialization" formControlName="specialization" multiple>
              @for (topping of specializationList; track topping) {
                <mat-option [value]="topping">{{topping}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <input formControlName="licenseNumber" placeholder="License Number">
          <input formControlName="yearsOfExperience" placeholder="Years of Experience">
        </div>
      }
      @if (currentStep()===2){
        <div class="certificates-section">
          <div class="section-header">
            <h3>Certificates</h3>
            <button class="add-btn" (click)="addCertificate()">
              + Add Certificate
            </button>
          </div>

          <div formArrayName="certificates">
            @for (cert of certificates.controls; track $index) {
              <div
                [formGroupName]="$index"
                class="certificate-card">

                <div class="card-header">
                  <h4>Certificate {{$index + 1}}</h4>
                  @if (certificates.length > 1) {
                    <button
                      class="remove-btn"
                      (click)="removeCertificate($index)">
                      ✕
                    </button>
                  }

                </div>
                <input
                  type="file"
                  (change)="onCertificateFileChange($event, $index)">
                <input
                  formControlName="name"
                  placeholder="Certificate Name">

                  <input
                    type="date"
                    formControlName="issueDate">
              </div>
            }


          </div>

        </div>
      }
      @if (currentStep()===3){
        <div class="certificates-section">
          <div class="section-header">
            <h3>Materials</h3>
            <button class="add-btn" (click)="addMaterial()">
              + Add Material
            </button>
          </div>

          <div formArrayName="materials">
            @for (cert of material.controls; track $index) {
              <div
                [formGroupName]="$index"
                class="certificate-card">

                <div class="card-header">
                  <h4>Material {{$index + 1}}</h4>
                  @if (material.length > 1) {
                    <button
                      class="remove-btn"
                      (click)="removeMaterial($index)">
                      ✕
                    </button>
                  }

                </div>

                <input
                  formControlName="category"
                  placeholder="Category">

                <input
                  placeholder="Brand"
                  formControlName="brand">
              </div>
            }


          </div>

        </div>
      }
      @if (currentStep()===4){
        <div class="certificates-section">
          <div class="section-header">
            <h3>Office Hours</h3>
            <button class="add-btn" (click)="addOfficeHours()">
              + Add Office Hours
            </button>
          </div>

          <div formArrayName="officeHours">
            @for (oh of officeHours.controls; track $index) {
              <div
                [formGroupName]="$index"
                class="certificate-card">

                <div class="card-header">
                  <h4>Office Hour {{$index + 1}}</h4>
                  @if (officeHours.length > 1) {
                    <button
                      class="remove-btn"
                      (click)="removeOfficeHour($index)">
                      ✕
                    </button>
                  }

                </div>
                <select formControlName="day" class="form-select">
                  <option selected value="">Choose Day</option>
                  @for (d of days; track $index) {
                    <option [value]="d">{{ d }}</option>
                  }

                </select>
                <mat-form-field>
                  <input matInput
                         [ngxMatTimepicker]="openPicker"
                         formControlName="open"
                         placeholder="Open time"
                         readonly />
                  <ngx-mat-timepicker-toggle matSuffix [for]="openPicker" />
                  <ngx-mat-timepicker #openPicker />
                </mat-form-field>
                <input formControlName="close" placeholder="05:00 PM" />
              </div>
            }


          </div>

        </div>
      }
    </form>

  </div>
  <div class="wizard-buttons">
    @if (currentStep()>0) {
      <button
        class="btn secondary"
        (click)="previousStep()"
      >
        Back
      </button>
    }

    @if (currentStep()<steps.length-1) {
      <button
        class="btn primary"
        (click)="nextStep()"
      >
        Continue
      </button>
    }
    @if (currentStep() === steps.length-1) {
      <button
        class="btn success"
        (click)="createDoctor()">
        Submit
      </button>
    }



  </div>
</div>
