.blog-post-page{
  margin-top: 22vh;
}
h1{
  font-weight: 500;
  font-size: 53px;
  color: white;
}
.service-description{
  color: #e1dddd;
  font-size: 15px !important;
  font-weight: 500 !important;
  width: 24%;
  line-height: 28px;
}
img{
  width: 100%;
  object-fit: cover;
}
.nav-link {
  color: var(--dark-bg-color);
  transition: color 0.3s ease-in-out;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--light-color);
  transition: width 0.4s ease-in-out;
}
.nav-link.active::after {
  width: 100%;
}
.nav-link.active {
  color: var(--dark-bg-color) !important;
}
.btn{
  background-color: var(--light-color);
  color: white;
}
.blog-hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.blog-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  color: #fff;
}
