.card{
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}
.card:hover{
  box-shadow: 0px 15px 30px -10px rgba(0,0,0,0.20);
}
.card-body{
  background-color: var(--blue-bg-color);
}
.card-img-top{
  transition: all 0.3s ease-in-out;
}
.card-img-top:hover{
  transform: scale(1.05);
}
