.calendar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.days{
  color: var(--dark-color);
}
.office-hours{
  background: #F1FAFC;
  background: linear-gradient(90deg,rgba(241, 250, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
  box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.4);
  transition: all 0.3s ease-in-out;
}
.office-hours:hover{
  transform: scale(1.04);
  cursor: pointer;
}
