*{
  margin: 0;
}
.description{
  font-size: 17px;
}
.icon{
  border: 1px solid #dcdddf;
  width: 75px;
}
.btn{
  background-color: white;
  color: var(--dark-bg-color);
  border: 1px solid #dcdddf;
}
img{
  width: 115%;
}
.info-wrapper{
  bottom: -18%;
}
.info{
  width: 75%;
  background-color: rgba(228, 227, 227, 0.6);

}
.doc-info{
  padding: 0px 160px;
}
