.wrapper{
  background-color: var(--dark-bg-color);
  height: 100vh;
}
.logo img{
  width: 40%;
}
.logo{
  color: white;
  height: 100vh;
  width: 40%;
}
.side-div{
  background-color: white;
  right: 0;
  left: 40%;
  top: 0;
  bottom: 4%;
}
.buttons{
  background-color: #F5F5F5;
  width: 90%;
}
.btn{
  border: 1px solid var(--dark-color);
  color: var(--dark-bg-color);
}
h4{
  color: var(--dark-bg-color);
}
p{
  color: var(--dark-bg-color);
  margin: 0;
}
.name{
  font-weight: bold;
}
.text-decoration-underline{
  color: var(--dark-bg-color);
  cursor: pointer;
  font-weight: lighter;
}
.location {
  font-weight: lighter;
}
