.wrapper{
  background-color: var(--dark-bg-color);
  height: 100vh;
}
.logo img{
  width: 40%;
}
.logo{
  color: white;
  height: 100vh;
  width: 40%;
}
.side-div{
  background-color: white;
  right: 0;
  left: 40%;
  top: 0;
  bottom: 4%;
}
