* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h4{
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-bg-color);
}
p{

  font-size: 16px;
  line-height: 1.7;
  color: #4b5563;
  margin-bottom: 30px;
}
