
  <div class="container mt-5 mb-5">
    <div class="mt-5">
      @if (doctorData$ | async; as doctorData) {
        <owl-carousel-o [options]="customOptions">
          @for (certificate of doctorData.certificates; track certificate.id) {
            <ng-template carouselSlide>
              <div class="card mb-2 mx-auto">
                <img [src]="certificate.fileUrl" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <p class="m-0 title">{{ certificate.issuer }}</p>

                </div>
              </div>
            </ng-template>
          }

        </owl-carousel-o>
      }



    </div>
  </div>

