* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card{
  overflow: hidden;
  cursor: pointer;
  border: none;
  width: 500px;
  height: 550px;
}

.card-body{
  background-color: white;
}
.card-img-top{
  transition: all 0.3s ease-in-out;
  height: 85%;
  object-fit: cover;
}
