.wrapper{
  background-color: var(--blue-bg-color);
}
.icon{
  background-color: var(--blue-bg-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.rules{
  color: var(--dark-color);
  font-weight: normal;
  font-size: 14px;
}
.fa-check{
  color: var(--dark-color);
  transition: all 0.4s ease-in-out;
}
.book{
  border: 1px solid rgba(168, 169, 174, 0.5);
  cursor: pointer;
  transition:all 0.3s ease-in-out;
}
.book:hover{
  border: 1px solid var(--dark-color);
  box-shadow: 0px 15px 30px -11px rgba(0,0,0,0.10);;
}
.book:hover .icon{
  background-color: var(--dark-color);
}
.book:hover .fa-check{
  color: white;
}
.btn{
  background-color: var(--dark-color);
  color: white;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.btn:hover{
  background-color: var(--light-color);
}
