<div class="row sign-up justify-content-between me-0">
  <div class="col-md-6">
    <div class="w-75 mx-auto">
      <img class="logo rounded-4 small-shadow" src="img/logo.jpeg">
      <p class="small-title mb-1">Create your account</p>
      <small class="text-muted d-block mb-4">Join Alamany Dental Clinic today</small>
      <form [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm)">
        <div class="row">
          <div class="col-6 mb-3">
            <label class="mb-1 " style="color: var(--dark-color)">First Name <span style="color: red">*</span></label>
            <input class="form-control rounded-3" formControlName="firstName" placeholder="John" type="text">
            @if (signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid){
                  <small class="err-msg">this field is required</small>
            }
          </div>
          <div class="col-6 mb-3">
            <label class="mb-1 " style="color: var(--dark-color)">Last Name <span style="color: red">*</span></label>
            <input class="form-control rounded-3" formControlName="lastName" placeholder="Doe" type="text">
            @if (signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid){
              <small class="err-msg">this field is required</small>
            }
          </div>
        </div>
        <div class="mb-3">
          <label class="mb-1 " style="color: var(--dark-color)">Email Address <span style="color: red">*</span></label>
          <input class="form-control rounded-3" formControlName="email" placeholder="your.email@example.com"
                 type="email">
          @if (signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid){
            <small class="err-msg">this field is required</small>
          }
        </div>

        <div class="mb-3">
          <label class="mb-1 " style="color: var(--dark-color)">Phone number <span style="color: red">*</span></label>
          <input class="form-control rounded-3" formControlName="phone" placeholder="+20114848332" type="tel">
          @if (signUpForm.get('phone')?.touched && signUpForm.get('phone')?.invalid){
            <small class="err-msg">this field is required</small>
          }
        </div>

        <div class="row">
          <div class="col-md-6 position-relative">
            <label class="form-check-label" style="color: var(--dark-color)">
              Password <span style="color: red">*</span>
            </label>
            <input
              formControlName="password"
              class="form-control rounded-3"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Create a strong password"/>
            <span
              class="position-absolute eye-icon translate-middle-y pe-3"
              style="cursor: pointer"
              (click)="togglePassword()">
            <i class="fa-regular fa-sm" [ngClass]="!showPassword ?  'fa-eye' :'fa-eye-slash' "
               style="color: var(--gray-color)"></i>
           </span>
          </div>

          <div class="col-md-6 position-relative">
            <label class="form-check-label" style="color: var(--dark-color)">
              Confirm password <span style="color: red">*</span>
            </label>
            <input
              class="form-control rounded-3"
              [type]="showPasswordConfirm ? 'text' : 'password'"
              placeholder="Re-enter your password"/>
            <span
              class="position-absolute eye-icon translate-middle-y pe-3"
              style="cursor: pointer"
              (click)="togglePassConfirmed()">
            <i class="fa-regular fa-sm" [ngClass]="!showPasswordConfirm ?  'fa-eye' :'fa-eye-slash' "
               style="color: var(--gray-color)"></i>
           </span>
          </div>
        </div>

        <button [disabled]="signUpForm.invalid" type="submit" class="w-100 mt-3 rounded-3 py-2 btn submit-btn btn-sm text-white">Create account</button>
      </form>
      <div class="or-section position-relative d-flex mt-4 justify-content-center">
        or
      </div>
      <button class="btn google-btn mx-auto mt-4 rounded-3 d-flex gap-2 align-items-center justify-content-center">
        <img src="img/google-icon.png">
        Google
      </button>
      <small class="d-block mx-auto d-flex justify-content-center mt-4">Already have an account?
        <span routerLink="/login" class="ms-1 create-account" style="color: var(--light-color)">Sign in</span></small>
    </div>

  </div>
  <div class="col-md-6 position-relative">
    <img class="sideImg" src="img/logo.jpeg">
    <div class="layer d-flex flex-column justify-content-end">
      <div class="container ps-5  mb-4 text-white">
        <p class="fw-bold">
          Begin Your Journey to Better Oral Health
        </p>
        <small class="fw-light w-75 d-block">
          Join thousands of satisfied patients
          who trust Alamany Dental Clinic for their dental care needs.
        </small>
      </div>

    </div>
  </div>
</div>
