.promise{
  font-weight: 500;
  font-size: 53px;
  color: var(--dark-color);
}
.description{
  color: var(--dark-color) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 85%;
  line-height: 30px;
}
.background-layer{
  z-index: 1;
  height: 33%;
  width: 60%;
  top: 10%;
  left: 5%;
  background-color: var(--light-color);
}
.cover img{
  width: 90%;
  z-index: 2;
}
li{
  color: var(--dark-color);
  font-size: 14px !important;
}
