.service-wrapper{
  background-color: var(--dark-bg-color);
}
.promise{
  font-weight: 500;
  font-size: 53px;
  color: white;
}
.service-description{
  color: white;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 85%;
  line-height: 30px;
}
.description{
  color: var(--dark-bg-color);

}
.background-layer{
  z-index: 1;
  height: 100%;
  width: 60%;
  top: 40px;
  background-color: var(--blue-bg-color);
}
.cover img{
  width: 75%;
  z-index: 2;
}
.service{
  background-color: var(--blue-bg-color);
  transition: all 0.6s ease;

}
.service:hover{
  box-shadow: -31px 29px 50px -33px rgba(0,0,0,0.41);
  cursor: pointer;
}
.slider{
  margin-top: 80px;
}
.tooth-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--blue-bg-color);
}

.learn-more {
  color: var(--light-color);
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  position: relative;
}

.learn-more:hover {
  color: var(--dark-color);
}

.learn-more:hover::after {
  content: "";
  background-color: var(--dark-color);
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.6s ease-in-out;
}

.learn-more::after {
  content: "";
  background-color: var(--dark-color);
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.6s ease-in-out, background-color 0.6s ease-in-out;
}
