.card{
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  box-shadow: 0px 15px 30px -10px rgba(0,0,0,0.20);
  background-color: #F4F4F4;
}
.card img{
  width: 12%;
}
.card-body{
  background-color: white;
}
.card-img-top{
  transition: all 0.3s ease-in-out;
}
.card-img-top:hover{
  transform: scale(1.05);
}
.date{
  font-size: 12px;
  color: var(--gray-color);
}

