.navbar{
  box-shadow: 0px -17px 109px -29px rgba(26,23,23,0.5);
  background-color: var(--blue-bg-color) !important;
}
.logo{
  width: 7%;
  cursor: pointer;
}
.active{
  color: white !important;
}
.nav-link {
  color: var(--dark-bg-color);
  transition: color 0.3s ease-in-out;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--light-color);
  transition: width 0.4s ease-in-out;
}
.nav-link.active::after {
  width: 100%;
}
.nav-link.active {
  color: var(--dark-bg-color) !important;
}
.join-usBtn{
  background-color: var(--light-color);
  color: white;
}
.doctorsBtn{
  border: 1px solid var(--light-color) !important;
  color: var(--dark-bg-color);
  transition: all 0.3s ease-in-out;
}
.doctorsBtn:hover{
  background-color: var(--light-color) !important;
  color: white !important;
}
.join-usBtn:hover{
  background-color: var(--dark-color) !important;
}
a{
  cursor: pointer;
}
.collapse{
  margin-left: 6% !important;
}
