.navbar{
  box-shadow: 0px -17px 109px -29px rgba(26,23,23,0.5);
}
.logo{
  width: 6%;
}
.nav-link{
  color: var(--dark-color);
  transition: all 0.3s ease-in-out;
}
.nav-link:hover{
  color: var(--light-color) !important;
}
.join-usBtn{
  background-color: var(--light-color);
  color: white;
}
.doctorsBtn{
  border: 1px solid var(--light-color) !important;
  color: var(--dark-color) !important;
  transition: all 0.3s ease-in-out;
}
.doctorsBtn:hover{
  background-color: var(--light-color) !important;
  color: white !important;
}
.join-usBtn:hover{
  background-color: var(--dark-color) !important;
}
a{
  cursor: pointer;
}
