.wrapper{
  background-color: var(--dark-bg-color);
  height: 100vh;
  color: white;
}
.wrapper img{
  width: 70%;
}
.logo{
  height: 100vh;
}
.error{
  font-size: 20px;
}
h2{
  font-weight: 500;
}
.pageNotFound{
  font-size: 18px;
  width: 70%;
  font-weight: lighter !important;
}
.btn{
  color: white;
 border: 1px solid white;
  transition: 0.3s all ease-in-out;
}
.btn:hover{
  background-color: white;
  color: var(--dark-bg-color);
}
