.sidebar {
  width: 250px;
  height: 100vh;
  background: #158FBE;
  background: linear-gradient(180deg,rgba(21, 143, 190, 1) 65%, rgba(8, 196, 215, 1) 100%);
  transition: width 0.3s ease;
  position: sticky;
  top: 0;
}
img{
  width: 25%;
}

.sidebar-header {
  padding: 1rem;
  color: #fff;
}

.toggle-btn {
  color: #fff;
}
.nav-item{
  width: 80%;
  cursor: pointer;
}
.nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-link.active,
.nav-link:hover {
  background-color: #ffffff;
  color: #08C4D7;
}

.sidebar i {
  font-size: 18px;
  min-width: 24px;
  text-align: center;
}

/* Collapsed */
.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .link-text,
.sidebar.collapsed .logo-text {
  display: none !important;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}

/* Mobile */
/*@media (max-width: 768px) {*/
/*  .sidebar {*/
/*    position: fixed;*/
/*    z-index: 1000;*/
/*    left: -250px;*/
/*  }*/

/*  .sidebar.collapsed {*/
/*    left: 0;*/
/*  }*/
/*}*/
