<div class="container-fluid ">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h2 class="title">Doctor Management</h2>
      <p class="description">Manage doctor registrations, profiles,
        and verifications.</p>
    </div>
    <div>
      <button (click)="openDialog()" class="btn doctor-btn">Create Doctor Profile</button>
    </div>
  </div>

  <input [(ngModel)]="searchTerm" class="form-control mb-3 " placeholder="search doctors...">
    <div class="row justify-content-between g-3 ">
      @if (allDoctors && (allDoctors | filter:searchTerm:['firstName','email']).length === 0) {
        <div class="col-12 text-center py-5">
          <p class="text-muted">No doctors found</p>
        </div>
      }
      @for (doctor of allDoctors | filter:searchTerm:['firstName','email']; track doctor._id) {
        <div class="col-md-6">
          <div class="doctor-list px-3 pt-3 rounded-3">
            <div class="d-flex gap-3">
              <div class="col-md-3">
                <img class="img-thumbnail image rounded-3" [src]="doctor?.picture">
              </div>
              <div class="col-md-8 d-flex flex-column mb-3 gap-1">
                <p class="m-0">Dr. {{ doctor?.firstName }} {{doctor?.lastName}}</p>
                <p class="small-title m-0">{{ doctor?.specialization.join(',') }}</p>
                <p class="m-0 description apply text-muted">
                  <i class="fa-regular fa-envelope" ></i>
                  {{ doctor?.email }}</p>
                <p class="m-0 description apply text-muted">
                  <i class="fa fa-phone" ></i>
                  {{ doctor?.phone }}</p>
                <p class="m-0 description apply text-muted">
                  <i class="fa fa-award" ></i>
                  {{ doctor?.yearsOfExperience }} years experience</p>
              </div>
            </div>

            <hr>
            <div class="d-flex my-2">
              <button [routerLink]="['/doctor-profile',doctor?._id]" class="py-1 rounded-3 viewBtn me-3">
                <i class="fa fa-eye me-2"></i>
                View Profile
              </button>
              <button (click)="deleteDoctor(doctor?._id)" class="py-1 deleteBtn rounded-3"><i class="fa fa-trash" style="color: #E80611"></i></button>
            </div>
          </div>


        </div>
      }

    </div>
  </div>

