/* You can add global styles to this file, and also import other style files */
:root {
  --dark-color : #13526A;
  --light-color : #1496C3;
  --gray-color : #a9b1bc;
  --light-bg-color : #F4F9FD;
  --blue-bg-color : #F1F7FC;
  --dark-bg-color : #042D3C;
}
.title {
  color: var(--dark-color);
  font-weight: bold;
}
.small-title{
  color: var(--light-color);
  font-size: 12px;
}

.description {
  color: var(--gray-color);
  font-size: 12px;
}
.small-shadow{
  box-shadow: 0px 15px 30px -11px rgba(0,0,0,0.10);
}
.btn-gradiant{
  background: #00B7DB;
  background: linear-gradient(90deg,rgba(0, 183, 219, 1) 0%, rgba(16, 98, 251, 1) 100%);
}
.confirmed-badge{
  background-color: #DBFCE7;
  color: #349F60;
}
.cancel-badge{
  background-color: #edc8ca;
  color:#ED3F47 ;
}
.pending-badge{
  background-color: #FEF9C2;
  color: #C79949;
}
.date-card{
  background: #0F69F8;
  background: linear-gradient(180deg,rgba(15, 105, 248, 1) 0%, rgba(0, 183, 219, 1) 100%);
}
.date-card p {
  font-size: small;
}
.cancel{
  border: 1px solid #d1d0d0;
}
