.homePage {
  margin-top: 5vh;
  height:100vh;
  overflow: hidden;
  position: relative;
}
.layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
owl-carousel-o,
.owl-stage-outer,
.owl-stage,
.owl-item {
  height: 100%;
}

.homePage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clinicName{
  font-size: 26px;
  font-weight: 100 !important;
  font-family: Poppins, sans-serif !important;
}
.clinicdesc{
  font-size: 50px;
  font-weight: 300;
  font-family: Poppins, sans-serif;
  width: 60%;
}
.btn{
  width: 20%;
  color: white;
  background-color: var(--light-color);
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  background-color: var(--light-color);
}

